 
 .profile-container{
    display: inline-block;
  align-content: center;
 background-repeat: no-repeat;
}
.profile{  
  margin-left: auto;
  margin-right: auto;
 width: 80%;
 margin-top: 20px;
 
 
  }
  .animation{font-size: 30px;
  font-weight: bold;
margin-bottom: 0px;}
span{color: orange;
font-weight: bold;}
  .about-text{
    font-size: 20px;
    font-weight: normal;
    margin-top: 7%;
  }
  .about-img{
   // height: 60%;
   margin-top: 10%;
  }



.ligne-about{height: 2px;
background-color: orange;
margin: 20px;}
 


.skills-text{margin-bottom: 50px;}
.skills{margin-bottom: 150px !important;}
  .skills-img{width: 50px;
  height: 50px;}
 
  .imgg{   
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .lebenslauf{
    background-image: url(../../img/orange.jpg);
    background-size:cover;
    margin:0; 
  width: 300px;
  height: 300px;
  border: 1px #aaa solid;
  text-align: center;
   vertical-align: middle;
  display: table-cell;
  }

  .lebenslauf-button{
    margin-top: 0px;
    width: 100%;
    height: 20%;
   
  }

  .lebenslauf-img{width: 25px;
     border: black;
     display: block;
     margin-left: auto;
     margin-right: auto;
 
  height: 25px;}


.icon{margin-bottom: 20px;}
.img-about{padding-left: 130px;}


.skills{
  align-items: center;
  align-content: center;
  width: 50%;
  margin: 80px auto;
}
.clip{
  width: 60px !important;
  height: 60px !important;
}
.img-fluid{
 height:50%;
 width: 50%;
 
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$openSans: 'Open Sans', Helvetica, Arial, sans-serif;
body {
  background: #333;
  font-family: $openSans;
}

.buttons {
  margin-top: 50px;
  text-align: center;
  border-radius:30px;
}

$cyan: #0505A9;
$dark: #FFFFFF;
$borderW: 2px;

.blob-btn {display: flex;flex-direction: row;
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius:30px;
  
  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $borderW solid orange;
    border-radius:30px;
  }
  
  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW*1.5;
    top: $borderW*1.5;
    width: 100%;
    height: 100%;

    transition: all 0.3s 0.2s;
    border-radius:30px;
  }
  
  &:hover {
    color: $dark;
    border-radius:30px;
    
    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius:30px;
    }
  }
  
  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius:30px;
    background:#ffffff;
  }
  
  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  
  &__blob {
    position: absolute;
    top: $borderW;
    width: 100% / $numOfBlobs;
    height: 100%;
    background: orange;
    border-radius: 100%;
    transform: translate3d(0,150%,0) scale(1.7);
    transition: transform 0.45s;
    
    @supports(filter: url('#goo')) {
      transform: translate3d(0,150%,0) scale(1.4);
    }
    
    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * (120% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }
    
    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);
      
      @supports(filter: url('#goo')) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }
  
}








